@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";
/* @plugin "daisyui"; */

@theme {
  --font-bodyFont: "Manrope", sans-serif;
}

@layer base {
  ::selection {
    @apply bg-black/80 text-white;
  }

  body {
    @apply bg-gray-100 text-black font-bodyFont;
  }

  img {
    user-select: none;
    pointer-events: none;
  }

  /* for input */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* for select */
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }

  select option {
    @apply text-zinc-950 text-base font-light;
  }
}

@layer utilities {
  .p__center {
    @apply flex items-center justify-center min-h-screen p-4;
  }

  .input {
    @apply py-4 px-7 bg-gray-200 rounded-[30px] outline-none border-none text-zinc-950 text-base font-light w-full;
  }

  .btn__login {
    @apply p-4 w-full bg-[#848484] text-[#fcfcfc] text-center text-base font-medium rounded-full cursor-pointer disabled:cursor-not-allowed;
  }

  .btn__add__money {
    @apply p-4 w-full bg-black text-white text-center text-base font-medium rounded-full cursor-pointer transition-all duration-200 ease-in-out hover:bg-black/85;
  }

  .btn__logout {
    @apply flex items-center gap-2 px-3 py-2 rounded-lg outline-1 outline-offset-[-1px] outline-zinc-950/10 cursor-pointer text-zinc-950/50 text-sm font-normal hover:bg-gray-100;
  }

  /* if button id not disabled */
  .login__btn__active {
    @apply bg-black text-white transition-all duration-200 ease-in-out hover:bg-black/85;
  }

  /* category card */
  .card__category {
    @apply flex flex-col items-center justify-center gap-2 px-2.5 py-5 rounded-xl outline-1 outline-offset-[-1px] outline-zinc-950/10 cursor-pointer hover:bg-gray-100;
  }
}
